/* Estilos boton color lila */
.btn-bd-primary{font-weight:600;color:#fff;background-color:#7952b3;border-color:#7952b3}
.btn-bd-primary:hover,.btn-bd-primary:active{color:#fff;background-color:#61428f;border-color:#61428f}
.btn-bd-primary:focus{box-shadow:0 0 0 3px rgba(121,82,179,0.25)}